.Sum {
  min-width: 48px;
  height: 24px;
  border-radius: 50px;
  background-color: red;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 5px;
}

.Sum p {
  margin: 0;
  display: inline-block;
  color: white;
}

.Sum img {
  width: 8px;
  height: 10px;
  margin-right: 2px;
}

.WhiteBorder {
  border-left: 5px white solid;
  border-right: 5px white solid;
}