@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.App-container {
  background-color: white;
  /* min-height: 100vh; */
  height: 534px;
  width: 591px;
  color: #898290;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  align-self: flex-start;
}

.Columns-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 60px;
  align-items: end;
  margin-top: 59px;
}

.Column {
  width: 80px;
  display: flex;
  flex-direction: column;
}

.Column p {
  align-self: center;
}

.Column-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 30px;
  max-height: 100px;

}

.Column-element p {
  margin: auto;
}

.norm {
  background: repeating-linear-gradient(135deg,
      #4AB6E8,
      #4AB6E8 13px,
      white 13px,
      white 18px);
  border-radius: 10px;
  align-items: center;
  color: #898290;
  min-height: 55px;
  max-height: 100px;
}

.value-background {
  width: 48px;
  height: 24px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 47px;
  color: #898290;
  font-size: 10px;
  margin-top: 14px;
}

.Brick {
  width: 16px;
  height: 16px;
  margin-right: 9px;
  border-radius: 3px;
}

.Description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.Sum {
  width: 48px;
  height: 24px;
  border-radius: 50px;
  background-color: red;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 92px;
}

.Sum p {
  margin: 0;
  display: inline-block;
  color: white;
}

.Sum img {
  width: 8px;
  height: 10px;
  margin-right: 2px;
}

.Sum-section {
  display: flex;
  flex-direction: row;
  margin-left: 133px;
  margin-top: 33px;
  align-self: start;
}